<header class="primary-header">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#"><img src="/img/EatEasy.svg" alt="EatEasy Logo" /></a>
      <nav class="primary-navigation">
        <ul role="list" class="nav-list">
          <li>
            <a href="#"
              ><img src="/img/search.svg" alt="Search Icon" />Search</a
            >
          </li>
          <li><a href="#">Menu</a></li>
          <li><a href="">Login</a></li>
          <li><a href="#">Signup</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<main>
  <section>
    <div class="container">
      <div class="even-columns">
        <div class="hero-section">
          <h1 class="hero-title">Eat Well,Made Easy.</h1>
          <button class="button">See Menu</button>
        </div>
        <div class="hero-image">
          <img src="/img/HeroImage.webp" alt="Hero Image" />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="even-rows">
        <div class="menu">
          <h2 class="menu-title">Our Menu</h2>
          <button class="button">See all</button>
        </div>
        <div class="category-flex">
          <ul role="list" class="items">
            <li><button class="category">Pizza</button></li>
            <li><button class="category">Biryani</button></li>
            <li><button class="category">Thali</button></li>
            <li><button class="category">Burger</button></li>
            <li><button class="category">Paneer</button></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="even-columns">
        <div class="secondary-image">
          <img src="/img/secondImage.webp" alt="Pasta" />
        </div>
        <div class="cta">
          <h2 class="cta-title">
            Order now and enjoy delicious food in no time.
          </h2>
          <p class="cta-tagline">
            Get your favorite food delivered straight to your door.
          </p>
          <input type="text" placeholder="Enter your City" />
          <button class="button square-button">Find Food</button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="contact-grid">
        <div class="writeus">
          <form action="#" method="post">
            <h3 class="write-title">Write to Us</h3>
            <input type="text" placeholder="Enter your Name" />
            <input type="email" placeholder="Enter your Email" />
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="10"
              placeholder="Your Message"
            ></textarea>
            <button type="submit" class="button square-button">Submit</button>
          </form>
        </div>
        <div class="contactus">
          <h3 class="contactus-title">Contact Us</h3>
          <ul role="list" class="contact-details">
            <li>
              <img src="/img/email.webp" alt="email icon" />
              <p>email@address.com</p>
            </li>
            <li>
              <img src="/img/call.webp" alt="call icon" />
              <p>+91 84004-84004</p>
            </li>
            <li>
              <img src="/img/location.webp" alt="location icon" />
              <p>Hisar, India</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <div class="container copyright-box">
    <p class="copyright-text">Copyright @EatEasy 2023 | Design by Chirag</p>
  </div>
</footer>
