<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <% for(var i=0; i < styles.length; i++) { %>
      <link href="<%= styles[i].uri %>" rel="stylesheet"  type="text/css">
  <% } %> 
    <script defer src="/assets/fontawesome/css/all.css"></script>
    <script defer src="/assets/fontawesome/js/all.js"></script>
    <title><%-title%></title>
  </head>
  <body>
    <%-body%>
  </body>
</html>
