<div class="container">
  <div class="login">
    <div class="logo__cover">
      <a href="/"><img src="/img/EatEasy.svg" alt="EatEasy" /></a>
    </div>
    <div class="form-wrapper">
      <h1 class="title">Login</h1>
      <div class="errors"><%- include('./partials/messages') %></div>
      <form action="/user/login" method="post" class="form">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          value="<%= typeof email != 'undefined' ? email : '' %>"
        />
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          value="<%= typeof password != 'undefined' ? password : '' %>"
        />
        <button type="submit" class="submit">Login</button>
      </form>
      <p class="askregister">
        Dont't have an account? <a href="/user/register">Register</a>
      </p>
    </div>
  </div>
</div>
