<header class="primary-header container">
  <a href="/"><img src="/img/EatEasy.svg" class="logo" alt="EatEasy Logo" /></a>
  <nav class="primary-navigation">
    <ul role="list" class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="#">Popular</a></li>
      <li><a href="/menu">Menu</a></li>
    </ul>
  </nav>
  <div class="icons">
    <a href="/menu/search" class="icon-hover"><i class="fa-solid fa-magnifying-glass icon"></i></a>
    <div class="profile">
      <div id="profileBtn" class="icon-hover"
        ><i class="fa-solid fa-user icon"></i
      ></div>
      <div class="profile__menu">
        <ul role="list" class="menu__list">
          <li><a href="#"><%= user.name %></a></li>
          <li><a href="/orders">Orders</a></li>
          <li><a href="/user/logout">Logout</a></li>
        </ul>
      </div>
    </div>
    <a href="/cart" class="cart icon-hover"
      ><i class="fa-solid fa-cart-shopping icon"></i>
      <% if(cart) {%>
        <span class="cart__count" id="cartCount"> <%= cart.items.length %> </span>
      <% }else{ %>
        <span class="cart__count" id="cartCount">0</span>
        <% } %>
    </a>
  </div>
</header>
<main>
  <section class="search container">
    <div class="search__wrapper">
      <input type="text" class="search__input" id="searchInput" name="food" placeholder="Search" spellcheck="false"><i class="fa-solid fa-magnifying-glass search__icon"></i>
    </div>
  </section>
  <section class="result container" id="resultSection">
    <div class="menu__grid" id="resultGrid">

    </div>
  </section>
</main>


<!-- Scrips -->
<script src="/js/search.js"></script>
